version: '3.8'

services:
  db:
    image: mariadb:11
    container_name: automovilismo_db
    env_file: .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./sql/database.sql:/docker-entrypoint-initdb.d/database.sql
    ports:
      - "3306:3306"

  web:
    build: .
    container_name: automovilismo_web
    depends_on:
      - db
    env_file: .env
    volumes:
      - ./src:/var/www/html
      - ./conf/000-default.conf:/etc/apache2/sites-available/000-default.conf
    ports:
      - "80:80"
