name: CI/CD - Build, Push & Deploy CRUD App

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir y etiquetar la imagen (BUILD)
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/lamp-crud-app:latest .

      - name: Subir imagen a Docker Hub (PUSH)
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/lamp-crud-app:latest

  deploy:
    name: Deploy to AWS Server
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Despliegue en servidor de producción
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ~/repositorios/actividad61-aplicacion-php-produccion
            docker compose down
            docker compose pull
            docker compose up -d